# EDA Using Dtale

In [1]:
import dtale
import pandas as pd

In [2]:
pip install numpy==1.21.6

Requirement already satisfied: numpy==1.21.6 in c:\users\asmit\anaconda3\lib\site-packages (1.21.6)Note: you may need to restart the kernel to use updated packages.

In [3]:
df=pd.read_csv(r'C:\Users\asmit\Downloads\Dataset\Dataset\data7\train.csv')

In [4]:
df.head()

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Identifier,Item_Outlet_Sales,Outlet_Years,Item_Fat_Content_0,Item_Fat_Content_1,Outlet_Location_Type_0,...,Outlet_0,Outlet_1,Outlet_2,Outlet_3,Outlet_4,Outlet_5,Outlet_6,Outlet_7,Outlet_8,Outlet_9
0,FDA15,9.30,0.016047,249.8092,OUT049,3735.1380,10,1,0,1,...,0,0,0,0,0,0,0,0,0,1
1,DRC01,5.92,0.019278,48.2692,OUT018,443.4228,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
2,FDN15,17.50,0.016760,141.6180,OUT049,2097.2700,10,1,0,1,...,0,0,0,0,0,0,0,0,0,1
3,FDX07,19.20,0.017834,182.0950,OUT010,732.3800,11,0,1,0,...,1,0,0,0,0,0,0,0,0,0
4,NCD19,8.93,0.009780,53.8614,OUT013,994.7052,22,1,0,0,...,0,1,0,0,0,0,0,0,0,0

In [5]:
dtale.show(df)

2022-10-18 12:17:33,137 - INFO     - NumExpr defaulting to 4 threads.